@charset "UTF-8";

*{
    margin: 0%;
    padding: 0%;
    overflow-x: hidden;
}

html, body{
    background-color: #0072b3;
    color: white;
}

header{
    background-color: #0072b3;
}

header > h1{
    padding: 10px;
    text-align: center;
}

nav ul {
    text-align: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-right: 10px;
}

nav > ul > li > a{
    text-decoration: none;
    color: black;
}

nav > ul > li > a:hover{
    color: white;
}

i#burguer{
    background-color: rgba(0, 0, 139, 0.568);
    display: block;
    color: white;
    padding: 10px;
    cursor: pointer;
}

i#burguer:hover{
    background-color: darkgray;
    color: black;
}

menu{
    display: none;
}

menu > ul{
    list-style-type: none;
}

menu > ul > li > a{
    display: block;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    background-color: rgb(52, 3, 3);
    color: white;
    border-top: 2px solid rgba(0, 0, 0, 0.492);
}

menu > ul > li > a:hover{
    background-color: darkgrey;
}

main{
    width: 90vw;
    background-color: #00a7ec;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
}

body {
    font-family: sans-serif;
    }

.produto {
    display: inline-table;
    margin-left: 10vw;
    width: 30vw;
    border: 2px solid black;
    padding: 10px;
    margin-bottom: 20px;
    text-align: center;
    color: black;
}

article > h1, h2{
    padding-bottom: 20px;
    color: black;
}

article > p{
    text-align: justify;
    margin-bottom: 20px;
    text-indent: 20px;
    color: black;
}

footer{
    margin: auto;
    height: 20px;
    width: 100vw;
}

footer > p{
    font-size: 1.2em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;   color: white;
    background-color: black;
    text-align: center;
}